.header {
	margin:0 0 1em;
	background: $gray;

	.brand {
		display: block;
		margin:0 0 0.4em;
		text-align:center;
		color:#fff;
		font-family: $font-family-other;
		font-size: 1.750em;
		line-height: 55px;

		white-space: nowrap;

		@media (min-width: $screen-sm-min) {
			margin:0;
			text-align: left;
		}
	}
}
