.head-nav {
	margin: 0;
	padding:0;
	display: block;
	text-align: center;
	li {
		//margin: 0 0.1em;
		display: inline-block;

		&.active {
			a {
				background: $light-gray;
			}
		}
	}
	a {
		display: inline-block;
		padding:1em 1.2em;

		font-weight:300;
		//text-transform: uppercase;

		color:#fff;
		&:hover {
			text-decoration: none;
			background: $light-gray;

		}
	}
	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}