html,
body {
	font-size: 1em;
}
img {
	max-width: 100%;
	height: auto;
}
.wrap {
	max-width: $site-width + $grid-gutter-width;
}


h1 {
	//text-transform: uppercase;
	font-weight: 700;
}
h2 {
	font-weight: 700;
}
