// Comment Section
.comments {
	margin: 4em 0 0;
}
.comment-list {
	@include list-unstyled;
	.comment {
		padding:1em 0 1em 1em;
		&.depth-1 {
			margin:0 0 1em;
			border-left:5px solid #000;
			border-bottom: 1px dotted #333;
		}
		&.depth-2 {
			background: #f0f0f0;
			border-left:5px solid #ccc;
			border-bottom: 1px dotted #333;
		}

	}
	.children {
		margin:1em 0 0;
	}
	.comment-awaiting-moderation {
		font-style: italic;
	}
}

.comment-list ol {
	list-style: none;
}

.comment-form p {
	@extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	@extend .form-control;
}

.comment-form input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
}

.comment-reply-title {
	font-weight:700;
}


