.gallery-container {

	ul {
		list-style: none;
		padding:    0;
		margin:     0;
		text-align: left;
	}
	li {
		display: block;
		padding: 4px;
	}
	a {
		display:             block;
		width:               100%;

		background-repeat:   no-repeat;
		background-size:     cover;
		background-position: top center;
	}

	@media (max-width: $screen-ms-max) {
		a {
			background-image: none !important;
		}
	}

	@media (min-width: $screen-ms-min) {
		li {
			display: inline-block;
			padding: 2px 4px;
			width:   50%;
		}
		a {

			height: ($site-width / 3);
		}
		img {
			display: none;
		}
	}

	@media (min-width: $site-width + $grid-gutter-width) {
		li {
			width: auto;
		}
		a {
			width:  ($site-width / 4) - 12;
			height: ($site-width / 4) - 12;
		}

	}
}