// Glyphicons font path
$icon-font-path: "../fonts/";
$font-size-base:16px;
$font-family-base: "Lato", sans-serif;
$font-family-other: 'Didact Gothic', sans-serif;



// Grid settings

$grid-gutter-width: 30px;
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$site-width: 800px;

$screen-ms-min:480px;
$screen-ms-max:              ($screen-ms-min - 1) !default;

// Colors
$brand-primary: #79bbff;
$gray: #444;
$light-gray: #666;

$link-color: #D55E00;



